body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #ffbe32;
  padding: 0 2rem;
  transition: background-color 0.3s ease;
  align-items: center;
}

body.dark-mode {
  background-color: #2b2b2b;
}

body:hover {
  background-color: #f8f8f8;
}

h1, h2, h3 {
  font-weight: normal;
  line-height: 1.2;
  color: #192955;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  transition: transform 0.3s;
}

h1:hover {
  color: #ae00ff;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2:hover {
  color: #f2f700;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h3:hover {
  color: #5c6bc0;
}

p {
  margin-bottom: 1.5rem;
  transition: color 0.3s ease;
}

p:hover {
  color: #444;
}

#ingredient-form {
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(17, 11, 11, 0.1);
  background-color: #bdb0ec;
  background-image: linear-gradient(to right, #3695ee 0%, #4c97ec 20%, #51f0f0 40%, #38bce4 60%, #69d9ec 80%, #a5e1f0 100%);
  background-size: 200% 100%;
  animation: gradient-animation 7s ease infinite;
}

.recipe {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.recipe:hover {
  transform: translateY(-20px);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.recipe img {
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: transform 0.3s;
}

.recipe img:hover {
  transform: scale(2.01);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background-image: linear-gradient(to right, #e9e654 0%, #e6c364 20%, #f0c960 40%, #e4ad38 60%, #f19e31 80%, #d86530 100%);
  background-size: 200% 100%;
  animation: gradient-animation 7s ease infinite;
}

@media (min-width: 600px) {
  body {
    padding: 0 4rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }
}